@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset for strict no-rounding policy */
* { border-radius: 0 !important; }

body { 
  background-color: #0F0F0F; 
  color: #ededed; 
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0F0F0F; }
::-webkit-scrollbar-thumb { background: #333; }
::-webkit-scrollbar-thumb:hover { background: #FF6B5A; }